{% extends "base.html" %}
{% block title %}Attendance{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
      height:100%;
      width: 100%;
      background: white;
      /*background: url('../static/images/asoriba.png'); */
      /*{{url_for('static', filename='images/asoriba.png')}}*/
      background-position: cover;*/
}
    .content{
      text-align: center;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
}

  </style>
{% endblock %}
{% block content%}
  <section class="intro">
    <div class="inner">
      <div class='content'>
      <a target="_blank">
        <input align='center' type="radio" name='option' action='POST'onclick="window.location ='learnfaces';">Learn faces</input>
        <input type="radio" action='POST' name='option'onclick="window.location ='face_recognition';">Recognize faces</input>
      </a>
      </div>
    </div>  
  </section>
{% endblock %}

